/* components/TaskList/TaskTable.module.css */

.modalOverlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.modalButtons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.modalCancelBtn {
  margin-top: 1rem;
  cursor: pointer;
}
